
<h1>Edit User</h1>


<div>

	
	<%= form_for @user do |f| %>

	<div>
		<p> First:	<%= f.text_field :first_name %> </p>
	</div>
	<div>
	    <p> Last: <%= f.text_field :last_name %> </p>
	</div>
	<div>
		<p> City: <%= f.collection_select(:city_id, City.all, :id, :name) %> </p>
	</div>


		<%= f.submit "Update User" %>


	</div>

	

</div>
<% end %>

