<div class=container-fluid>
	<h1 class="blurry"><%= @post.title %></h1>
	<h2 class="blurry"> Author: <%= @user.first_name %> <%=@user.last_name%></h2>

	<p class="blurry"><%= @post.content%></p>
	<span class="links"><%= link_to "Edit", edit_post_path(@post) %></span>

	
	<div class="blurry">Tags: <%= raw tag_links(@post.all_tags) %></div>

</div>

