<h1>Welcome, <%= @user.first_name %></h1>
<% cityObj = City.find_by id: @user.city_id %>
<p>Your current city is: <%= cityObj.name %></p>
<p>Member since: <%= @user.created_at %></p>



<span class="links"><%= link_to "Edit", edit_user_path %></span>

<% @user.posts.reverse.each do |post| %>
	<div class='list-group'>
		<%= link_to post.title, post_path(post.id) %>
	</div>
<% end %>
