<h1>Add a new city post</h1>

<%= form_for @post do |f| %> 
 <p>
   <%= f.label :title %><br />
   <%= f.text_field :title %>
 </p>

 <p>
   <%= f.label :content %><br />
   <%= f.text_area :content %>
 </p>

<p>
 <%= f.collection_select(:city_id, City.all, :id, :name) %>
<p>
	
  <p>
   <%= f.submit "Add a new post about this city" %>
 </p>
  <% end %> 
